.body{
    height: 100vh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Poppins;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: #333;
    /*position sticky;*/
}

.navbar li{
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover{
    background-color: #111;
}

.header{
    height: 100%;
    background-color: grey;
    color: white;
}
.container{
    text-align: center;
    align-content: center;
    margin: auto;
    vertical-align: middle;
}

.profile{
    padding-top: 100px;
}

.name{
    font-weight: bolder;
    font-size: medium;
}

.job-roles{
    font-size: 18px;
}

.link{
    font-size: larger;
}

.about{
    height: 100%;
    background-color: #CC2C4C;
}

.title{
    font-size: 36x;
    font-weight: bold;
}